.about-section {
    background-color: #080808;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.about-content-container {
    display: flex;
    padding-top: 20vh; 
    padding-left: 5vw;
    color: white;
}

.about-description {
    flex-direction: column;
    width: 35vw;
    font-size: 1.5em;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.about-text-container {
    padding-left: 20vw;
    flex-direction: column;
    max-width: 40vw;
    height: 20vh;
}

.about-text {
    font-size: 7em;
}

@media screen and (max-width: 768px) {
  .about-content-container {
      padding-top: 10vh; 
  }

  .about-description {
      width: 45%;
      font-size: 1.1em;
  }

  .about-text {
      font-size: 2.6em;
  }

  .about-text-container {
      padding-left: 20px;
  }
}