@import '../../pages/Index.scss';

.home-section {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.home-background {
    margin-top: 0px;
    background-size: cover;
    align-content: center;
}

.home-opacity {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.home-content-container {
    text-align: start; 
    color: white; 
    padding-top: 30vh; 
    padding-left: 10%;
}

.home-description {
    padding-top: 2vh;
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1.5em;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

@media screen and (max-width: 400px) {
  .home-content-container {
    padding-top: 25vh; 
    padding-left: 2%;
  }

  .home-description {
    font-size: 1.9em;
  }
}

@media screen and (max-width: 768px) {
    .home-content-container {
      width: 90%;
      padding-top: 25vh; 
      padding-left: 3%;
    }

    .home-description {
      font-size: 2em;
    }
}

@media screen and (max-width: 1024px) {
  .home-description {
    font-size: 2.5em;
  }
}