.contact-section {
    background: linear-gradient(#3f4370, #080808);
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.contact-text-container {
    padding-top: 18vh;
    margin-left: 35vw;
    max-width: 30vw;
    height: 20vh;
    color: #b3b8cd;
    transition: 0.5s;
    &:hover {
        color: white;
    }
}

.contact-text {
    font-size: 4.5em;
}

.contact-info-container {
    padding-top: 15vh;
    color: white;
}

.contact-info-text {
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 40px;
    color: pink
}

.contact-icon {
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 480px) {
    .contact-text-container {
        max-width: 80vw;
        margin-left: 10vw;
        padding-top: 10vh;
    }

    .contact-text {
        font-size: 3em;
    }

    .contact-info-container {
        padding-top: 8vh;
    }
    
    .contact-info-text {
        padding-left: 17px;
        width: 95vw;
        font-size: 1.1em;
        padding-top: 20px;
        padding-bottom: 40px;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .contact-icon {
        width: 40px;
        height: 40px;
    }
}