.contact-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#3f4370, #080808);
  font-family: 'Open Sans', sans-serif;
}

.contact-text-container {
  width: 30vw;
  height: 20vh;
  color: #b3b8cd;
  transition: 0.5s;
  &:hover {
      color: #ffffff;
  }
}

.contact-text {
  font-size: 4.5em;
}

.contact-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 8vh;
  color: #ffffff;
  padding-bottom: 10%;
}

.contact-info-text {
  font-size: 1.5em;
  padding-top: 20px;
  padding-bottom: 40px;
}

.contact-icon {
  padding: 20px;
  width: 100px;
  height: 100px;
  color: rgb(255, 192, 203);

  &:hover {
    color: rgb(252, 217, 223);
  }
}

@media screen and (max-width: 500px) {
  .contact-text {
      font-size: 1.2em;
  }
}

@media screen and (max-width: 900px) {
  .contact-text {
      font-size: 2.5em;
  }

  .contact-info-text {
    font-size: 1.2em;
  }

  .contact-info-container {
    padding-top: 10px;
  }

  .contact-text-container {
    width: 60vw;
  }
}

@media screen and (min-width: 900px) and (max-width: 1500px) {
  .contact-text-container {
    width: 80vw;
  }
}