.experience-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#080808, #21233d);
}

.experience-content-container {
  padding-top: 20vh; 
  padding-left: 5vw;
  color: black;
}

.experience-text-container {
  max-width: 30vw;
  height: 20vh;
  color: #b3b8cd;
  transition: 0.5s;
  &:hover {
      color: white;
  }
}

.experience-text {
  font-size: 7em;
}

.experience-cards-container {
  padding-left: 10%;
  padding-top: 5vh;
}

@media screen and (max-width: 468px) {
  .experience-text {
    font-size: 4em;
  }
}

@media screen and (max-width: 480px) {
  .experience-content-container {
    padding-top: 10vh; 
  }

  .experience-text-container {
    padding-left: 20px;
  }

  .experience-text {
    font-size: 4.5em;
  }
  
  .experience-cards-container {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .experience-cards-container {
    padding-left: 2%;
  }

  .experience-text {
    font-size: 4.5em;
  }
}

@media screen and (min-width: 1000px) and  (max-width: 1510px) {
  .experience-text {
    font-size: 4.4em;
  }
}